node_modules/*
packages/**/node_modules/*
packages/**/lib/*
packages/**/test/fixtures/dest/*
packages/**/test/fixtures/expected/*
packages/gulp-project-generator/test/fixtures/src/formatCode/*
examples/**/public/*
