# -------------
# osx file
# -------------

.DS_Store
._*


# -------------
# cache file
# -------------

*.swp


# -------------
# diff file
# -------------

*.diff


# -------------
# log file
# -------------

*.log


# -------------
# package
# -------------

node_modules/


# -------------
# child package
# -------------

packages/**/node_modules
packages/**/lib
!packages/gulp-project-sample/**/lib
packages/**/package-lock.json
