# -------------
# osx file
# -------------

.DS_Store
._*


# -------------
# cache file
# -------------

*.swp


# -------------
# diff file
# -------------

*.diff


# -------------
# log file
# -------------

*.log


# -------------
# package
# -------------

node_modules/


# -------------
# child package
# -------------

packages/**/package-lock.json
packages/**/node_modules
packages/**/lib
packages/**/fixtures/dest
!packages/gulp-project-generator/template/**/lib
examples/**/package-lock.json
examples/**/node_modules
examples/dev/
