*.hbs
node_modules/*
examples/**/public/*
packages/**/test/fixtures/dest/*
packages/**/test/fixtures/expected/*
!packages/gulp-project-generator/test/fixtures/expected/*
packages/gulp-task-build-css-sass/test/fixtures/src/error.scss
packages/gulp-task-build-html-handlebars/test/fixtures/src/data/invalid.yml
packages/gulp-task-build-js-rollup/test/fixtures/src/error.js
CHANGELOG.md
pnpm-lock.yaml
