/*! hogehoge */
@charset "utf-8";
.block {
  padding: 10px;
  transition-duration: 0.3s;
  background-color: #000;
}
.block__element {
  padding: 10px;
}
.block--modifier {
  padding: 10px;
}
@media (min-width: 500px) and (max-width: 600px) {
  .block {
    color: #fff;
  }
  .block {
    font-size: 1rem;
  }
}
