html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
.styleguide-reset * {
  line-height: 1.4;
}
.styleguide-reset abbr[title] {
  border-bottom: 1px dotted;
}
.styleguide-reset hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
.styleguide-reset mark {
  background: #ff0;
  color: #000;
}
.styleguide-reset code,
.styleguide-reset kbd,
.styleguide-reset pre,
.styleguide-reset samp {
  font-family: monospace, serif;
  font-size: 1em;
}
.styleguide-reset q {
  quotes: \201C \201D \2018 \2019;
}
.styleguide-reset small {
  font-size: 90%;
}
.styleguide-reset sub,
.styleguide-reset sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.styleguide-reset sup {
  top: -0.5em;
}
.styleguide-reset sub {
  bottom: -0.25em;
}
.styleguide-reset fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.styleguide-reset button,
.styleguide-reset input,
.styleguide-reset select,
.styleguide-reset textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
.styleguide-reset button,
.styleguide-reset select {
  text-transform: none;
}
.styleguide-reset button,
.styleguide-reset html input[type="button"],
.styleguide-reset input[type="reset"],
.styleguide-reset input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
.styleguide-reset input[type="checkbox"],
.styleguide-reset input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
.styleguide-reset input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.styleguide-reset input[type="search"]::-webkit-search-cancel-button,
.styleguide-reset input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
.styleguide-reset textarea {
  overflow: auto;
  vertical-align: top;
}
.styleguide-reset table {
  border-collapse: collapse;
  border-spacing: 0;
}
.styleguide-reset h1,
.styleguide-reset h2,
.styleguide-reset h3,
.styleguide-reset h4,
.styleguide-reset h5,
.styleguide-reset h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
}
.styleguide-reset h1 {
  font-size: 30px;
  margin: 15px 0;
}
.styleguide-reset h2 {
  font-size: 21px;
}
.styleguide-reset h3 {
  font-size: 16px;
}
.styleguide-reset ul,
.styleguide-reset ol {
  padding: 0;
  margin: 0;
}
.styleguide-reset a img {
  border: none;
}
.styleguide-reset tt,
.styleguide-reset code,
.styleguide-reset pre {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 12px;
}
.styleguide-reset pre {
  margin-top: 0;
  margin-bottom: 0;
}
.styleguide-reset a {
  color: #4183c4;
  text-decoration: none;
}
.styleguide-reset a:hover {
  color: #4183c4;
  text-decoration: underline;
}
.styleguide-reset a:focus {
  outline: thin dotted;
}
.styleguide-reset a:active,
.styleguide-reset a:hover {
  outline: 0;
}
#styleguide {
  min-width: 1020px;
  color: #333;
  background-color: #fff;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
}
@media screen and (max-width: 1020px) {
  #styleguide {
    min-width: 100% ;
  }
}
#styleguide .styleguide-container {
  position: relative;
  padding-left: 246px;
  padding-right: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *width: 754px;
}
@media screen and (max-width: 1020px) {
  #styleguide .styleguide-container {
    width: auto ;
    padding-left: 0;
    padding-right: 0;
  }
}
#styleguide .styleguide-container:before,
#styleguide .styleguide-container:after {
  content: " ";
  display: table;
}
#styleguide .styleguide-container:after {
  clear: both;
}
#styleguide .styleguide-header {
  position: relative;
  margin-left: 246px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 30px 0;
  border-bottom: 1px solid #eee;
}
@media screen and (max-width: 1020px) {
  #styleguide .styleguide-header {
    margin-bottom: 10px ;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 0;
    padding-right: 0;
  }
}
#styleguide .styleguide-header .styleguide-container {
  padding-left: 0;
}
#styleguide .styleguide-header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: normal;
  line-height: 40px;
}
#styleguide .styleguide-header h1 .title {
  padding-left: 10px;
  vertical-align: middle;
  color: #777;
  font-size: 15px;
}
#styleguide .styleguide-header h1 .version {
  padding-left: 5px;
  vertical-align: middle;
  color: #777;
  font-size: 15px;
}
#styleguide .styleguide-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
  width: 200px;
  font-size: 13px;
  border-radius: 2px;
}
@media screen and (max-width: 1020px) {
  #styleguide .styleguide-menu {
    position: relative;
    top: auto;
    left: auto;
    width: auto ;
    margin: 10px ;
  }
}
#styleguide .styleguide-menu .styleguide-menu-list {
  overflow: auto;
  max-height: calc(100vh - 20px - 20px - 3px * 2);
  background: #fafafb;
  border-radius: 2px;
  border: 1px solid #ddd;
  list-style: none;
}
@media screen and (max-width: 1020px) {
  #styleguide .styleguide-menu .styleguide-menu-list {
    max-height: none;
  }
}
#styleguide .styleguide-menu .styleguide-menu-list li {
  border-top: 1px solid #ddd;
}
#styleguide .styleguide-menu .styleguide-menu-list li:first-child {
  border-top: none;
}
#styleguide .styleguide-menu .styleguide-menu-list li::last-child {
  border-bottom: none;
}
#styleguide .styleguide-menu .styleguide-menu-list a {
  color: #444;
  text-decoration: none;
}
#styleguide .styleguide-menu .styleguide-menu-list a:hover {
  color: #4183c4;
  text-decoration: underline;
}
#styleguide .styleguide-menu .styleguide-menu-list a:focus {
  outline: thin dotted;
}
#styleguide .styleguide-menu .styleguide-menu-list a:active,
#styleguide .styleguide-menu .styleguide-menu-list a:hover {
  outline: 0;
}
#styleguide .styleguide-menu .styleguide-menu-list a {
  display: block;
  padding: 8px 10px 8px 8px;
  text-shadow: 0 1px 0 #fff;
  border-left: 2px solid #fafafb;
}
#styleguide .styleguide-menu .styleguide-menu-list a:hover {
  background: #fdfdfe;
  text-decoration: none;
  border-left: 2px solid #fafafb;
}
#styleguide .styleguide-menu .styleguide-menu-list a:focus,
#styleguide .styleguide-menu .styleguide-menu-list a:active {
  text-decoration: none;
}
#styleguide .styleguide-menu .styleguide-menu-list a.selected {
  color: #fff;
  background: #333;
  border-left: 2px solid #4183c4;
  font-weight: bold;
  cursor: default;
  text-shadow: 0 -1px 0 #000;
}
#styleguide .styleguide-menu .styleguide-menu-list .styleguide-menu-list-child {
  list-style: none;
}
#styleguide .styleguide-menu .styleguide-menu-list .styleguide-menu-list-child li {
  border-top: none;
}
#styleguide .styleguide-menu .styleguide-menu-list .styleguide-menu-list-child li:first-child {
  border-bottom: none;
}
#styleguide .styleguide-menu .styleguide-menu-list .styleguide-menu-list-child li:last-child {
  border-bottom: none;
}
#styleguide .styleguide-menu .styleguide-menu-list .styleguide-menu-list-child a {
  padding-left: 20px;
}
#styleguide .styleguide-content {
  font-size: 16px;
}
@media screen and (max-width: 1020px) {
  #styleguide .styleguide-content {
    margin: 10px ;
    padding-top: 20px;
  }
}
#styleguide .styleguide-markdown-body {
  font-size: 12px;
  overflow: hidden;
  line-height: 1.5;
  word-wrap: break-word;
}
#styleguide .styleguide-markdown-body * {
  line-height: 1.7;
}
#styleguide .styleguide-markdown-body p,
#styleguide .styleguide-markdown-body blockquote,
#styleguide .styleguide-markdown-body ul,
#styleguide .styleguide-markdown-body ol,
#styleguide .styleguide-markdown-body dl,
#styleguide .styleguide-markdown-body table,
#styleguide .styleguide-markdown-body pre {
  margin: 10px 0;
}
#styleguide .styleguide-markdown-body h1,
#styleguide .styleguide-markdown-body h2,
#styleguide .styleguide-markdown-body h3,
#styleguide .styleguide-markdown-body h4,
#styleguide .styleguide-markdown-body h5,
#styleguide .styleguide-markdown-body h6 {
  margin: 15px 0;
  padding: 0;
  font-weight: normal;
  cursor: text;
  position: relative;
}
#styleguide .styleguide-markdown-body h4,
#styleguide .styleguide-markdown-body h5,
#styleguide .styleguide-markdown-body h6 {
  font-weight: bold;
}
#styleguide .styleguide-markdown-body ol,
#styleguide .styleguide-markdown-body ul {
  padding-left: 15px;
}
#styleguide .styleguide-markdown-body > *:first-child {
  margin-top: 0 !important;
}
#styleguide .styleguide-markdown-body > *:last-child {
  margin-bottom: 0 !important;
}
#styleguide .styleguide-markdown-body pre {
  color: #ddd;
  background-color: #282c34;
  border: 1px solid #000;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  word-wrap: normal;
}
#styleguide .styleguide-markdown-body pre code,
#styleguide .styleguide-markdown-body pre tt {
  background-color: transparent;
  border: none;
  word-wrap: normal;
  margin: 0;
  padding: 0;
}
#styleguide .styleguide-markdown-body code,
#styleguide .styleguide-markdown-body tt {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}
#styleguide .styleguide-markdown-body h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #ddd;
}
#styleguide .styleguide-markdown-body h2 {
  font-size: 2em;
  border-bottom: 1px solid #eee;
}
#styleguide .styleguide-markdown-body h3 {
  font-size: 1.5em;
}
#styleguide .styleguide-markdown-body h4 {
  font-size: 1em;
}
#styleguide .styleguide-section-header .styleguide-section-header-label h1 {
  margin: 0;
  font-weight: normal;
  font-size: 35px;
}
#styleguide .styleguide-section-header .styleguide-section-header-label h2 {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
}
#styleguide .styleguide-section-header .markdown-body p {
  margin: 0;
  padding-top: 15px;
}
#styleguide .styleguide-section-depth-1 {
  padding-bottom: 15px;
}
#styleguide .styleguide-section-depth-2 {
  padding-top: 15px;
  padding-bottom: 15px;
}
#styleguide .styleguide-section-depth-2 .styleguide-section-header-label h1 {
  font-size: 25px;
}
#styleguide .styleguide-section-depth-2 .markdown-body p {
  padding-top: 10px;
  font-size: 14px;
}
#styleguide .styleguide-section-depth-1 + .styleguide-section-depth-2 {
  border-top: 1px solid #eee;
}
#styleguide .styleguide-section-header + .styleguide-example {
  margin-top: 0 !important;
}
#styleguide .styleguide-example {
  margin: 15px auto;
  border: 1px solid #ddd;
}
#styleguide .styleguide-example:first-child {
  margin-top: 0;
}
#styleguide .styleguide-example > .styleguide-example-header .styleguide-example-header-title {
  margin: -1px -1px 0;
  padding: 10px;
  color: #fff;
  font-size: 12px;
  background: #333;
  border-top: 1px solid #000;
  font-weight: normal;
}
#styleguide .styleguide-example > .styleguide-example-header .styleguide-example-header-title em {
  float: right;
  text-transform: none;
  font-style: normal;
  font-weight: normal;
  color: #999;
  line-height: 1;
}
#styleguide .styleguide-example .styleguide-description {
  padding: 10px;
  background: #f1f1f1;
  border-bottom: 1px solid #ddd;
}
#styleguide .styleguide-example .styleguide-description p:first-child {
  margin-top: 0;
}
#styleguide .styleguide-example .styleguide-description p:last-child {
  margin-bottom: 0;
}
#styleguide .styleguide-example .styleguide-description code,
#styleguide .styleguide-example .styleguide-description tt {
  margin: 0 2px;
  padding: 0px 5px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
  border-radius: 3px;
}
#styleguide .styleguide-example .styleguide-element {
  position: relative;
  padding: 20px;
  padding-top: 35px ;
}
#styleguide .styleguide-example .styleguide-element + .styleguide-element {
  margin-top: -5px;
  padding-top: 35px ;
  border-top: 1px solid #eee;
}
#styleguide .styleguide-example .styleguide-element .styleguide-modifier-name {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999 ;
  padding: 5px 15px;
  margin: 0;
  font-size: 11px;
  color: #999;
  background: #f9f9f9;
  border: 1px solid #eee;
  border-top: none;
}
#styleguide .styleguide-example .styleguide-element .styleguide-element-wrapper {
  overflow: auto;
  position: relative;
  padding: 10px ;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAQAAAC1+jfqAAAAG0lEQVR4AWP8b8yAAhgZUMFIUcCApuD/yFQAAH/gEzlVREVsAAAAAElFTkSuQmCC);
  background-position: 0 0;
  background-repeat: repeat;
}
#styleguide .styleguide-example .styleguide-element .styleguide-element-wrapper--dark {
  background-color: #000;
}
#styleguide .styleguide-example .styleguide-element .styleguide-element-wrapper--light {
  background-color: #fff;
}
#styleguide .styleguide-example .styleguide-element .styleguide-element-wrapper--red {
  background-color: #f44;
}
#styleguide .styleguide-example .styleguide-element .styleguide-element-wrapper--green {
  background-color: #4f4;
}
#styleguide .styleguide-example .styleguide-element .styleguide-element-wrapper--blue {
  background-color: #44f;
}
#styleguide .styleguide-example .styleguide-html {
  padding: 15px 15px;
  color: #ddd;
  background: #282c34;
  border-top: 1px solid #282c34;
  overflow: auto;
}
#styleguide .styleguide-example .styleguide-html .styleguide-html-highlight {
  background: none;
}
#styleguide ul.styleguide-modifier li p {
  display: inline;
  margin: 0;
}
#styleguide .styleguide-sourcefile {
  margin: 0;
  text-align: right;
}
#styleguide .styleguide-footer {
  position: relative;
  margin-top: 40px;
  margin-left: 246px;
  margin-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #777;
  border-top: 1px solid #eee;
}
@media screen and (max-width: 1020px) {
  #styleguide .styleguide-footer {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px 0;
  }
}
#styleguide .styleguide-footer .styleguide-container {
  padding-left: 0;
}
#styleguide .styleguide-footer p {
  margin: 0;
}
#styleguide .styleguide-footer p:first-child {
  float: left;
}
#styleguide .styleguide-footer p:last-child {
  float: right;
}
@media screen and (max-width: 1020px) {
  #styleguide .styleguide-footer p {
    float: none !important;
    padding: 5px 0 0 ;
  }
}
/*
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b
*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #abb2bf;
  background: #282c34;
}
.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}
.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta-string {
  color: #98c379;
}
.hljs-built_in,
.hljs-class .hljs-title {
  color: #e6c07b;
}
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
.hljs-link {
  text-decoration: underline;
}
